In [2]:
# Importing important Libraries
import pandas as pd
import pymysql
import sqlalchemy

## Importing the dataset

In [3]:
df = pd.read_excel("C://Users//HP//Desktop//GUVI_PROJECT//Healtcare-Dataset.xlsx")
df.head()

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20,5.0,13234,11910.6
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16,4.0,12241,11016.9
2,24413,2023-01-05,2023-01-12,Malaria,General,CT Scan,Jay Sinha,2023-01-15,5.0,35255,31729.5
3,27360,2023-01-05,2023-01-12,Flu,Private,X-Ray,Jaya Yaadav,2023-01-19,5.0,6582,5923.8
4,26097,2023-01-06,2023-01-12,Viral Infection,General,Blood Test,Jaya Yaadav,2023-02-06,4.9,4567,4110.3

## Data cleaning and preprocessing

In [4]:
# Checking if we have NULL values in the data or not
df.isnull().sum().any()

np.True_

In [6]:
# True means that NULL values are present in the dataset

In [5]:
# Getting the column wise sum of NULL Values
df.isnull().sum()

Patient_ID                   0
Admit_Date                   0
Discharge_Date               0
Diagnosis                    0
Bed_Occupancy                0
Test                         0
Doctor                       0
Followup Date              122
Feedback                     0
Billing Amount               0
Health Insurance Amount      0
dtype: int64

In [ ]:
# 122 rows of the Followup Date column have NULL values in the dataset

In [6]:
# Getting an idea about the datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7157 non-null   int64
 1   Admit_Date               7157 non-null   datetime64[ns]
 2   Discharge_Date           7157 non-null   datetime64[ns]
 3   Diagnosis                7157 non-null   object
 4   Bed_Occupancy            7157 non-null   object
 5   Test                     7157 non-null   object
 6   Doctor                   7157 non-null   object
 7   Followup Date            7035 non-null   datetime64[ns]
 8   Feedback                 7157 non-null   float64
 9   Billing Amount           7157 non-null   int64
 10  Health Insurance Amount  7157 non-null   float64
dtypes: datetime64[ns](3), float64(2), int64(2), object(4)
memory usage: 615.2+ KB

In [7]:
# Converting the "Billing Amount" column to float datatype
df['Billing Amount'] = df['Billing Amount'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7157 non-null   int64
 1   Admit_Date               7157 non-null   datetime64[ns]
 2   Discharge_Date           7157 non-null   datetime64[ns]
 3   Diagnosis                7157 non-null   object
 4   Bed_Occupancy            7157 non-null   object
 5   Test                     7157 non-null   object
 6   Doctor                   7157 non-null   object
 7   Followup Date            7035 non-null   datetime64[ns]
 8   Feedback                 7157 non-null   float64
 9   Billing Amount           7157 non-null   float64
 10  Health Insurance Amount  7157 non-null   float64
dtypes: datetime64[ns](3), float64(3), int64(1), object(4)
memory usage: 615.2+ KB

In [8]:
# Check for duplicate rows in the DataFrame
duplicates = df[df.duplicated()]

# Display the duplicate rows
print(duplicates)

Empty DataFrame
Columns: [Patient_ID, Admit_Date, Discharge_Date, Diagnosis, Bed_Occupancy, Test, Doctor, Followup Date, Feedback, Billing Amount, Health Insurance Amount]
Index: []

In [ ]:
# The data does not contain any duplicate rows

In [9]:
# Dropping rows with NULL Values
df1=df.dropna(how='any')
df1

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20,5.0,13234.0,11910.6
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16,4.0,12241.0,11016.9
2,24413,2023-01-05,2023-01-12,Malaria,General,CT Scan,Jay Sinha,2023-01-15,5.0,35255.0,31729.5
3,27360,2023-01-05,2023-01-12,Flu,Private,X-Ray,Jaya Yaadav,2023-01-19,5.0,6582.0,5923.8
4,26097,2023-01-06,2023-01-12,Viral Infection,General,Blood Test,Jaya Yaadav,2023-02-06,4.9,4567.0,4110.3
...,...,...,...,...,...,...,...,...,...,...,...
7151,28622,2024-03-02,2024-03-07,Flu,General,X-Ray,Ravi D,2024-03-11,4.0,6784.0,6105.6
7152,29885,2024-03-03,2024-03-07,Typhoid,Private,Blood Test,Jay Sinha,2024-03-10,5.0,2342.0,2107.8
7153,26517,2024-03-04,2024-03-07,Pneumonia,Private,CT Scan,Jaya Yaadav,2024-03-14,5.0,24943.0,22448.7
7155,24833,2024-03-06,2024-03-07,Typhoid,Private,X-Ray,Mark Joy,2024-03-15,4.9,3475.0,3127.5
7156,30727,2024-03-06,2024-03-07,Viral Infection,Private,Ultrasound,Jaya Yaadav,2024-03-11,5.0,66537.0,59883.3

In [10]:
# Checking if we have NULL values in the data or not
df1.isnull().sum().any()

np.False_

In [ ]:
# False means NULL values are not present in the dataset

In [11]:
# Getting the column wise sum of NULL values
df1.isnull().sum()

Patient_ID                 0
Admit_Date                 0
Discharge_Date             0
Diagnosis                  0
Bed_Occupancy              0
Test                       0
Doctor                     0
Followup Date              0
Feedback                   0
Billing Amount             0
Health Insurance Amount    0
dtype: int64

In [12]:
# Checking the datatype
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7035 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7035 non-null   int64
 1   Admit_Date               7035 non-null   datetime64[ns]
 2   Discharge_Date           7035 non-null   datetime64[ns]
 3   Diagnosis                7035 non-null   object
 4   Bed_Occupancy            7035 non-null   object
 5   Test                     7035 non-null   object
 6   Doctor                   7035 non-null   object
 7   Followup Date            7035 non-null   datetime64[ns]
 8   Feedback                 7035 non-null   float64
 9   Billing Amount           7035 non-null   float64
 10  Health Insurance Amount  7035 non-null   float64
dtypes: datetime64[ns](3), float64(3), int64(1), object(4)
memory usage: 659.5+ KB

## Creating Python SQL Connection

In [13]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'root'
)

In [13]:
mydb

In [14]:
# Creating the cursor
mycursor = mydb.cursor()

In [15]:
# Checking the list of databases
mycursor.execute("Show Databases")
for i in mycursor:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [17]:
# Creating the Database
mycursor.execute('CREATE DATABASE Healthcare')

1

In [18]:
# Checking if database is created or not
mycursor.execute("Show Databases")
for i in mycursor:
    print(i)

('healthcare',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [19]:
mycursor.execute("USE Healthcare")

0

In [20]:
# Create the table

mycursor.execute('''CREATE TABLE healthcare_data (
    Patient_ID INT,
    Admit_Date DATETIME,
    Discharge_Date DATETIME,
    Diagnosis VARCHAR(50),
    Bed_Occupancy VARCHAR(50),
    Test VARCHAR(50),
    Doctor VARCHAR(50),
    `Followup Date` DATETIME,
    Feedback FLOAT,
    `Billing Amount` FLOAT,
    `Health Insurance Amount` FLOAT,
    PRIMARY KEY (Patient_ID)
)''')

0

In [21]:
# Inserting the data into the table

def data_to_sql(df, table_name):
    from sqlalchemy import create_engine  # Import create_engine
    from urllib.parse import quote_plus   # Import quote_plus to handle special characters in password

    # Properly encode the password if it contains special characters
    password = quote_plus('root')
    database_url = f'mysql+pymysql://root:{password}@localhost:3306/healthcare'
    
    # Create the engine
    engine = create_engine(database_url)
    
    # Insert the DataFrame into the specified table
    df.to_sql(name=table_name, con=engine, if_exists='append', index=False)
    
    # Dispose the engine
    engine.dispose()

In [22]:
# Calling the function
data_to_sql(df1, 'healthcare_data')